body {
  background-color: #131415;
  color: aliceblue;
}

a {
  color: aquamarine
}

.main--container {
  max-width: 1200px;
  margin: 0 auto;

}

.form__wrapper {
  margin: 2em 0;
}

input {
  padding: 1em;
  font-size: 16px;
  background-color: #2b3031;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.btn__primary {
  background-color: aqua;
  color: black;
}

.btn {
  background-color: aqua;
  color: black;
  padding: 1em;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #3f3e3e;
  margin: 0 0 20px 0;
}

.advocate__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4em;
}

.advocate__preview__wrapper_detail {
  margin: 20px 20px;
}

.advocate__preview__header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.advocate__preview__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid aquamarine;
}

.bio__preview {
  display: block;
  margin: 1em 0;
}